<h1>Hello ma ptite salope !</h1><br><br>

<p>Voici la ville de l'auteur :</p><br>



<div class="card" style="width: 18rem;">
<h5 class="card-body">Ville: <u><%=City.find(@id_city).name%> </u></h5>

</div>

